<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <% for(let a=0;title<data.length;a++){ %>
  <div class="content-items">
    <h2><%= data[a].name %></h2>
    <% for(let b=0;title<data[a].tags.length;b++){ %>
    <h3><%= data[a].tags[b].name %></h3>
    <% for(let c=0;title<data[a].tags[b].items.length;c++){ %>
    <h4><%= data[a].tags[b].items[c].name %></h4>
    <p><%= data[a].tags[b].items[c].content %></p>
    <% } %>
    <% } %>
  </div>
  <% } %>
</body>

</html>